@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>PROJECT BOOTSTRAP</h3>

    <p>Implemented all the features available by the Bootstrap. This showcases that I am efficient in using Booststrap. Thank you</p>
</main>